
/*twitter fill class*/
/*expands timeline to fit container */
.filltwitter{
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/*background to twitfeed*/
 #twitter{
  overflow: hidden;
  height:95%;
  margin-top: 5%;
  background-color: #fff;
}

/*twitter timeline header*/
#twitter p{
  line-height: 100%;
  text-align: left;
  padding:7% 0 0 2%;
  font-size: 15px;
  display: inline;
}

/*container of divs*/

#draggable, #draggable1, #draggable2, #twitterdraggable, #draggable3 {
  cursor: move; /*makes the cursor to fourway arrow*/
  background-color: #999; /*only shows as top "bar" on divs*/
  display: inline; /*let divs be side by side*/
  padding-top: 1.0em;
  -webkit-animation: show 2s ease;-webkit-animation-iteration-count:1;
}

#twitterdraggable{
  font-family: 'Roboto Condensed', sans-serif;
}

/*expands inner div to fit
container minus 5% padding*/
.fill {
  padding-top:5%;
  height: 100%;
  width: 100%;
}

/*no iframe border*/
iframe{
  border: none;
}


 #calendar{
  height:48vh;
  overflow: hidden;
}

/*www.responsivegridsystem.com*/
/*column stuff*/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin-left: 1%;
  margin-right: 1%;
}

/*  COLUMN SETUP  */
.col {
  border-radius: 0.5em;
  /*border: 1px solid #000;*/
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  height:52vh;/*sets height relative to "viewport" (=internet window). makes columns responsive*/
}

.col:first-child { margin-left: 0; }

/*remove left margin for every 3rd box, so every
first box in new row*/
.col:nth-child(3n+3) { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2, .span_1_of_2 { width: 100%; }
}

@-webkit-keyframes show {
  0% {top: -300px;}
  50% {top: 40px;}
  100% {top: 0px;}
}


